<% if @organization.errors.any? %>
  <p><%= pluralize(@organization.errors.count, "error") %> prevented this record from being saved:</p>
  <ul>
    <% @organization.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @organization, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <% if @organization.errors[:name].empty? %>
        <%= f.text_field :name, class: "form-control" %>
      <% else %>
        <%= f.text_field :name, class: "form-control error" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "cancel", organizations_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
